<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>HO gids</string>
	<key>CFBundleIdentifier</key>
	<string>be.scoutsengidsenvlaanderen.hogids</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleName</key>
	<string>HO gids</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiY3JlamVyIiwiYSI6ImNqM2p5c3U4MDAwM3EzMm83aDB1MG9hanAifQ.hxbQ82oY3n7shNMlpTur2g</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wij hebben uw locatie nodig om deze weer te geven op de map.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SharedAssets/Fonts/Roboto-Italic.ttf</string>
		<string>SharedAssets/Fonts/Roboto-Bold.ttf</string>
		<string>SharedAssets/Fonts/Roboto-Light.ttf</string>
		<string>SharedAssets/Fonts/Roboto-Regular.ttf</string>
	</array>
	<key>Pushwoosh_APPID</key>
	<string>142E9-FBCCD</string>
</dict>
</plist>
