<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HOApp_2017.Droid" android:installLocation="auto" android:versionCode="1" android:versionName="1">
	<uses-sdk android:targetSdkVersion="23" android:minSdkVersion="15" />
	<application android:label="HO 2017" android:icon="@drawable/Icon" android:theme="@style/AppTheme"></application>
</manifest>